
<div class="fondo">
<div class="container mt-5 mb-5 testimonios">
    <h2 class="text-center fw-bold mb-4 superior">Algunas reseñas de nuestros clientes 💙</h2>
    <p class="text-center mb-5 superior">Padres de familia y tutores confían en nosotros</p>

    <div class="row g-4 justify-content-center">

      <div class="col-sm-10 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card h-100" style="max-width: 100%;">
          <video controls class="w-100">
            <source src="assets/viddd.mp4" type="video/mp4">
            Tu navegador no soporta el video.
          </video>
          <div class="card-body">
            <h5 class="card-title">Sesión con Feli 💖</h5>
            <p class="card-text">Terapia de lenguaje</p>
          </div>
        </div>
      </div>

      <!-- Testimonio 2 (video) -->
      <div class="col-sm-10 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card h-100" style="max-width: 100%;">
          <video controls class="w-100">
            <source src="assets/viddd2.mp4" type="video/mp4">
            Tu navegador no soporta el video.
          </video>
          <div class="card-body">
            <h5 class="card-title">Cynthia Gomez 👧</h5>
            <p class="card-text">Madre de Familia</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>