<div class="fondo">
  <div class="container mt-5">
    <div class="row altura-ajustada text-center text-md-start">
      <div class="col-12 col-md-5 titulo d-flex justify-content-center justify-content-md-end align-items-center mb-3 mb-md-0">
        <h2>Contáctenos</h2>
      </div>

      <div class="d-none d-md-flex col-md-1 justify-content-center align-items-stretch">
        <div class="linea"></div>
      </div>

      <div class="d-block d-md-none w-100">
        <div class="linea-horizontal"></div>
      </div>

      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center align-items-md-start texto">
        <p>Nos ubicamos en: </p>
        <p>Jr. Larco Herrera 920,<br>Magdalena del Mar</p>
        <p>Teléfono: 999 - 999 - 999</p>
        <div class="mt-3">
          <a class="me-3 redes" href="https://www.facebook.com/p/Pro-Juego-Per%C3%BA-61560279740545/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook" style="color: #ffffff; font-size: 25px;"></i>
          </a>
          <a class="me-3 redes" href="https://www.instagram.com/projuegoperu/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram" style="color: #ffffff; font-size: 25px;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
