<section class="bg-fondo min-h-screen flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center px-4 py-6 sm:px-6 md:py-8 mx-auto w-full max-w-md md:max-w-lg lg:max-w-xl">
        <a href="#" class="flex items-center mb-4 sm:mb-6 text-2xl sm:text-3xl font-semibold text-black">
            <img src="assets/icono.png" alt="Logo Pro Juego Perú" class="img-fluid logo-img">
        </a>
    
        <div class="w-full bg-white rounded-lg shadow border px-4 py-6 sm:px-8 sm:py-10 md:py-12">
            <h2 class="text-center mb-6 text-xl sm:text-2xl font-bold text-black">Bienvenido(a)</h2>
    
            <form class="space-y-5 sm:space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- Correo electrónico -->
                <div>
                    <label for="email" class="block mb-2 text-sm sm:text-base font-medium text-black">Correo electrónico</label>
                    <input type="email" id="email" formControlName="username" class="bg-white border border-black text-black rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-3 text-sm sm:text-base" placeholder="correo@ejemplo.com">
                    <small *ngIf="isRequired('username')" class="text-red-500">Este campo es requerido</small>
                    <small *ngIf="hasEmailError()" class="text-red-500">Ingrese un correo válido</small>
                </div>
        
                <!-- Contraseña -->
                <div>
                    <label for="password" class="block mb-2 text-sm sm:text-base font-medium text-black">Contraseña</label>
                    <input type="password" id="password" formControlName="password" class="bg-white border border-black text-black rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-3 text-sm sm:text-base" placeholder="*********">
                    <small *ngIf="isRequired('password')" class="text-red-500">Este campo es requerido</small>
                </div>
        
                <!-- Recordar contraseña y enlace para olvidada -->
                <div class="flex flex-wrap items-center justify-between text-sm gap-2">
                    <div class="flex items-center space-x-2">
                    <input id="remember" type="checkbox" class="w-4 h-4 border border-black rounded bg-white focus:ring-2 focus:ring-green-300">
                    <label for="remember" class="text-black">Recordar contraseña</label>
                    </div>
                    <a [routerLink]="'/authentication/forgot-password'" class="font-medium text-[#00f] hover:underline">
                    ¿Olvidaste tu contraseña?
                    </a>
                </div>
        
                <!-- Botón Ingresar -->
                <button type="submit" class="w-full text-white bg-[#0077b6] hover:bg-[#005f8e] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base sm:text-lg px-6 py-3 text-center">
                    Ingresar
                </button>
        
                <!-- Enlace para crear cuenta -->
                <p class="text-sm sm:text-base font-light text-black text-center">
                    ¿Aún no tienes una cuenta?
                    <a [routerLink]="'/authentication/register'" class="font-medium text-[#00f] hover:underline">Crear cuenta</a>
                </p>
            </form>
        </div>
    </div>
</section>