<div class="d-flex flex-column flex-md-row">
  <div [class.collapsed]="isCollapsed" class="sidebar">
    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    <div class="sidebar-header p-3 border-bottom">
      <p class="welcome-text mb-0">Bienvenido(a),</p>
      <h5 class="username">{{ nombreUsuario }}</h5>
    </div>
    <ul class="nav flex-column">
      <li>
        <a routerLink="/inicio-principal" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-house me-2"></i>
          <span class="link-text">Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="/edit-perfil" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-user me-2"></i>
          <span class="link-text">Perfil</span>
        </a>
      </li>

      <!-- Solo para ADMIN barra de navegación -->
      <li *ngIf="rolUsuario === 'ROLE_ADMIN'">
        <a routerLink="/terapeuta" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-user-doctor me-2"></i>
          <span class="link-text">Terapeuta</span>
        </a>
      </li>

      <li *ngIf="rolUsuario === 'ROLE_ADMIN'">
        <a routerLink="/tutores" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-user-tie me-2"></i>
          <span class="link-text">Tutor</span>
        </a>
      </li>

      <li *ngIf="rolUsuario === 'ROLE_ADMIN'">
        <a routerLink="/tutelados" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-clipboard-user me-2"></i>
          <span class="link-text">Pacientes</span>
        </a>
      </li>
      
      <li *ngIf="rolUsuario === 'ROLE_ADMIN'">
        <a routerLink="/disponibilidad" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-calendar me-2"></i>
          <span class="link-text">Disponibilidad Terapeuta</span>
        </a>
      </li>

      <!-- Solo para tutor barra de navegación -->
      <li *ngIf="rolUsuario === 'ROLE_TUTOR'">
        <a routerLink="/tutelados" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-clipboard-user me-2"></i>
          <span class="link-text">Niños a mi cargo</span>
        </a>
      </li>

      <li>
        <a (click)="cerrarSesion()" class="nav-link" style="cursor: pointer;">
          <i class="fa-solid fa-right-from-bracket me-2"></i>
          <span class="link-text">Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main-content mt-4">
    <div class="logo-container mb-4">
      <img src="assets/logoo.png" alt="Logo Marca" class="logo" />
    </div>

    <!-- VISTA ROLE_TUTOR INTERIOR-->
    <ng-container *ngIf="rolUsuario === 'ROLE_TUTOR'">
      <h2>Citas</h2>
      <div class="btn-group-vertical citas-group">
        <button class="btn citas w-100 d-flex align-items-center px-4" (click)="irRegistrarCita()">
          <i class="fa-solid fa-calendar-plus me-2"></i> Registrar Cita
        </button>
        <button class="btn citas w-100 d-flex align-items-center px-4" (click)="irCitasGeneradas()">
          <i class="fa-solid fa-calendar-check me-2"></i> Citas Generadas
        </button>
      </div>

      <h2 class="mt-4">Ordenes</h2>
      <div class="btn-group-vertical ordenes-group">
        <button class="btn orden w-100 d-flex align-items-center px-4" (click)="irRecetas()">
          <i class="fa-solid fa-file-medical me-2"></i> Recetas
        </button>
      </div>
      <h2 class="mt-4">Niños a mi cargo</h2>
      <div class="btn-group-vertical ordenes-group">
        <button class="btn orden w-100 d-flex align-items-center px-4" (click)="irTutelados()">
          <i class="fa-solid fa-hands-holding-child me-2"></i> Tutelados
        </button>
      </div>
    </ng-container>

    <!-- VISTA ROLE_ADMIN INTERIOR-->
    <ng-container *ngIf="rolUsuario === 'ROLE_ADMIN'">
      <h2 class="mt-4">Citas</h2>
      <div class="btn-group-vertical citas-group">
        <button class="btn citas w-100 d-flex align-items-center px-4" (click)="irCitasGeneradas()">
          <i class="fa-solid fa-calendar-check me-2"></i> Citas
        </button>
        <button class="btn citas w-100 d-flex align-items-center px-4" (click)="irDisponibilidad()">
          <i class="fa-solid fa-clock me-2"></i> Disponibilidad
        </button>
      </div>
      <h2 class="mt-4">Pagos</h2>
      <div class="btn-group-vertical citas-group">
        <button class="btn pago w-100 d-flex align-items-center px-4" (click)="irCitasGeneradas()">
          <i class="fa-solid fa-wallet me-2"></i> Pagos
        </button>
      </div>
      <h2 class="mt-4">Terapeutas</h2>
      <div class="btn-group-vertical citas-group">
        <button class="btn terapeuta w-100 d-flex align-items-center px-4" (click)="irCitasGeneradas()">
          <i class="fa-solid fa-user-doctor me-2"></i> Registro de Terapeutas
        </button>
      </div>
      <h2 class="mt-4">Pacientes</h2>
      <div class="btn-group-vertical ordenes-group">
        <button class="btn orden w-100 d-flex align-items-center px-4" (click)="irTutelados()">
          <i class="fa-solid fa-hands-holding-child me-2"></i> Tutelados
        </button>
      </div>
    </ng-container>

  </div>
</div>

