<div class="fondo py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="tituloo">Servicios</h1>
          </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card h-100 cards">
                    <img src="/assets/terapia.jpg" class="card-img-top imagen" alt="terapia ocupacional">
                    <div class="card-body">
                        <h5 class="card-title titulo">Terapia ocupacional</h5>
                        <p class="card-text texto text-center">Dirigido para niños que se distraen o frustran con facilidad. 
                            No siguen instrucciones y no miden el peligro. 
                            Presentan autismo y tienen dificultades de 
                            coordinación motora fina, etc.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card h-100 cards">
                    <img src="/assets/terapia_lenguaje.jpg" class="card-img-top imagen" alt="...">
                    <div class="card-body">
                        <h5 class="card-title titulo">Terapia de lenguaje</h5>
                        <p class="card-text texto text-center">Dirigido para niños que hablan y no se les entiende. 
                            No pronuncian bien las palabras o tartamudean. 
                            Si el niño tiene dos años y aún no habla, o 
                            no comprende mensajes simples.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100 cards">
                    <img src="/assets/estimulacion.png" class="card-img-top imagen" alt="...">
                    <div class="card-body">
                        <h5 class="card-title titulo">Estimulación temprana</h5>
                        <p class="card-text texto text-center">Dirigido a bebés de 2 a 24 meses de edad. 
                            Aplicamos el Método de Glenn Doman (lectura precoz), 
                            Psicomotricidad (fina y gruesa), 
                            trabajamos las Habilidades sociales, Estimulación de Lenguaje, 
                            Estimulación visual y auditiva.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100 cards">
                    <img src="/assets/estimulacion.png" class="card-img-top imagen" alt="...">
                    <div class="card-body">
                        <h5 class="card-title titulo">Estimulación temprana</h5>
                        <p class="card-text texto text-center">Dirigido a bebés de 2 a 24 meses de edad. 
                            Aplicamos el Método de Glenn Doman (lectura precoz), 
                            Psicomotricidad (fina y gruesa), 
                            trabajamos las Habilidades sociales, Estimulación de Lenguaje, 
                            Estimulación visual y auditiva.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100 cards">
                    <img src="/assets/estimulacion.png" class="card-img-top imagen" alt="...">
                    <div class="card-body">
                        <h5 class="card-title titulo">Estimulación temprana</h5>
                        <p class="card-text texto text-center">Dirigido a bebés de 2 a 24 meses de edad. 
                            Aplicamos el Método de Glenn Doman (lectura precoz), 
                            Psicomotricidad (fina y gruesa), 
                            trabajamos las Habilidades sociales, Estimulación de Lenguaje, 
                            Estimulación visual y auditiva.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100 cards">
                    <img src="/assets/estimulacion.png" class="card-img-top imagen" alt="...">
                    <div class="card-body">
                        <h5 class="card-title titulo">Estimulación temprana</h5>
                        <p class="card-text texto text-center">Dirigido a bebés de 2 a 24 meses de edad. 
                            Aplicamos el Método de Glenn Doman (lectura precoz), 
                            Psicomotricidad (fina y gruesa), 
                            trabajamos las Habilidades sociales, Estimulación de Lenguaje, 
                            Estimulación visual y auditiva.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>