<nav class="navbar navbar-redes text-light bg-primary justify-content-start py-3">
  <div class="container-xl d-flex justify-content-between align-items-center">  
  <ul class="nav">
      <li class="nav-item me-3">
        <a class="nav-link redes" href="https://www.facebook.com/p/Pro-Juego-Per%C3%BA-61560279740545/" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i>
      </a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link redes" href="https://www.instagram.com/projuegoperu/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i>
    </a>
    </li>
   </ul>

   <ul class="nav">
      <li class="nav-item me-3">
        <a class="nav-link login d-flex align-items-center gap-2" (click)="irAlLogin()" style="color: #ffffff;">
        <i class="fa-solid fa-user fa-xl"></i>Inicia sesión
      </a>
    </li>
    </ul>
  </div>
</nav>