<div class="container mt-5 mb-5">

<h2 class="text-center fw-bold mb-4">Momentos de nuestras sesiones 🧩</h2>

<div class="swiper galeriaSwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/gal.jpeg" class="img-fluid rounded-3" alt="Imagen 1" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal2.jpeg" class="img-fluid rounded-3" alt="Imagen 2" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal.jpeg" class="img-fluid rounded-3" alt="Imagen 3" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal2.jpeg" class="img-fluid rounded-3" alt="Imagen 4" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal.jpeg" class="img-fluid rounded-3" alt="Imagen 5" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal2.jpeg" class="img-fluid rounded-3" alt="Imagen 6" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal.jpeg" class="img-fluid rounded-3" alt="Imagen 7" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal2.jpeg" class="img-fluid rounded-3" alt="Imagen 8" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal.jpeg" class="img-fluid rounded-3" alt="Imagen 9" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal2.jpeg" class="img-fluid rounded-3" alt="Imagen 10" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal.jpeg" class="img-fluid rounded-3" alt="Imagen 11" />
    </div>
    <div class="swiper-slide">
      <img src="assets/gal2.jpeg" class="img-fluid rounded-3" alt="Imagen 12" />
    </div>
    <!-- Agrega más imágenes aquí -->
  </div>
</div>
</div>