<section class="bg-fondo min-h-screen flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center px-4 py-6 sm:px-6 md:py-8 mx-auto w-full max-w-md md:max-w-lg lg:max-w-xl">
        <a href="#" class="flex items-center mb-4 sm:mb-6 text-2xl sm:text-3xl font-semibold text-black">
            <img src="assets/icono.png" alt="Logo Pro Juego Perú" class="logo-img">
        </a>

        <div class="w-full bg-white rounded-lg shadow border px-4 py-6 sm:px-8 sm:py-10 md:py-12">
            <h2 class="text-center mb-6 text-xl sm:text-2xl font-bold text-black">Recuperar Contraseña</h2>

            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5 sm:space-y-6">
                <!-- Usuario -->
                <div>
                    <label for="username" class="block mb-2 text-sm sm:text-base font-medium text-black">Usuario</label>
                    <input id="username" type="text" formControlName="username"
                        class="bg-white border border-black text-black rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-3 text-sm sm:text-base"
                        placeholder="Correo electrónico o nombre de usuario" required>
                    <small *ngIf="form.get('username')?.touched && form.get('username')?.invalid" class="text-red-500">
                        Este campo es requerido
                    </small>
                </div>

                <!-- Botón Enviar código -->
                <button type="submit"
                    class="w-full text-white bg-[#0077b6] hover:bg-[#005f8e] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:text-lg px-6 py-3 text-center">
                    Enviar código de recuperación
                </button>
            </form>
        </div>
    </div>
</section>
