<div class="fondo py-5">
    <div class="container">
      <div class="text-center mb-5 textooo">
        <h1 class="tituloo">Nuestras Sedes</h1>
        <p class="subtitulo">Contamos con dos sedes ubicadas en el Cono Sur.<br> Para su comodidad, puede localizar el más cercano para usted.</p>
      </div>
  
      <div class="row justify-content-center">
  
        <!-- CARDS -->
        <div class="col-md-4 mb-4">
          <div class="card h-100 cards shadow rounded-4 overflow-hidden">
            <img src="/assets/terapia.jpg" class="card-img-top imagen" alt="Sede N°1">
            <div class="titulocardaft1 card-title bg-sede-1 text-white text-center p-2 m-0">
              Sede Magdalena del Mar
            </div>
            <div class="card-body text-center">
              <p class="card-text texto">
                Jirón Larco Herrera 920 <br>
                Alt. paradero José Galvez <br>
                <strong>MAGDALENA DEL MAR</strong><br><br>
                Tlf.: ### <br>
                C.: ###<br>
                Horario: L-V 2:00 pm - 8:00 pm <br>
                Sábados 9:00 am - 2:00 pm
              </p>
              <a href="https://www.google.com.pe/maps/place/PROJUEGO+MAGDALENA/@-12.0925381,-77.0695563,17z/data=!3m1!4b1!4m6!3m5!1s0x9105c90031ed0407:0x9bd1030ae2611f80!8m2!3d-12.0925381!4d-77.0669814!16s%2Fg%2F11y4bq_xg0?hl=es-419&entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" class=" btn1 btn btn-outline-primary rounded-pill fw-bold" target="_blank" rel="noopener noreferrer">Ver mapa</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-4">
            <div class="card h-100 cards shadow rounded-4 overflow-hidden">
              <img src="/assets/terapia.jpg" class="card-img-top imagen" alt="Sede N° 2">
              <div class="titulocardaft2 card-title bg-sede-2 text-white text-center p-2 m-0">
                Sede Santiago de Surco
              </div>
              <div class="card-body text-center">
                <p class="card-text texto">
                  Loma del Pilar 470, Lima 15039 <br>
                  Espalda de La Panisera <br>
                  <strong>SANTIAGO DE SURCO</strong><br><br>
                  Tlf.: ### <br>
                  C.: 9###<br>
                  Horario: L-V 2:00 pm - 8:00 pm <br>
                  Sábados 9:00 am - 2:00 pm
                </p>
                <a href="https://maps.app.goo.gl/NARBxPBVfnkFMcWJ7" class="btn2 btn btn-outline-primary rounded-pill fw-bold" target="_blank" rel="noopener noreferrer">Ver mapa</a>
              </div>
            </div>
          </div>
  
      </div>
    </div>
  </div>
  