<div class="d-flex flex-column flex-md-row">
  <div [class.collapsed]="isCollapsed" class="sidebar">
    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    <div class="sidebar-header p-3 border-bottom">
      <p class="welcome-text mb-0">Bienvenido(a),</p>
      <h5 class="username">{{ nombreUsuario }}</h5>
    </div>
    <ul class="nav flex-column">
      <li>
        <a routerLink="/inicio-principal" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-house me-2"></i>
          <span class="link-text">Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="/edit-perfil" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-user me-2"></i>
          <span class="link-text">Perfil</span>
        </a>
      </li>

      <li>
        <a routerLink="/sesion" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-calendar-plus me-2"></i>
          <span class="link-text">Citas</span>
        </a>
      </li>

      <li>
        <a routerLink="/registro-sesion" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-calendar-check me-2"></i>
          <span class="link-text">Registro de citas</span>
        </a>
      </li>

      <li *ngIf="rolUsuario === 'ROLE_TERAPEUTA'">
        <a routerLink="/disponibilidad-terapeuta" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-calendar me-2"></i>
          <span class="link-text">Mi disponibilidad</span>
        </a>
      </li>

      <!-- Solo para ADMIN barra de navegación -->
      <li *ngIf="rolUsuario === 'ROLE_ADMIN'">
        <a routerLink="/terapeuta" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-user-doctor me-2"></i>
          <span class="link-text">Terapeuta</span>
        </a>
      </li>

      <li *ngIf="rolUsuario === 'ROLE_ADMIN'">
        <a routerLink="/tutores" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-user-tie me-2"></i>
          <span class="link-text">Tutor</span>
        </a>
      </li>

      <li *ngIf="rolUsuario === 'ROLE_ADMIN'">
        <a routerLink="/tutelados" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-clipboard-user me-2"></i>
          <span class="link-text">Pacientes</span>
        </a>
      </li>
      
      <li *ngIf="rolUsuario === 'ROLE_ADMIN'">
        <a routerLink="/disponibilidad" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-calendar me-2"></i>
          <span class="link-text">Disponibilidad Terapeuta</span>
        </a>
      </li>

      <li *ngIf="rolUsuario === 'ROLE_ADMIN'">
        <a routerLink="/tipo-sesion" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-stethoscope me-2"></i>
          <span class="link-text">Tipos de Sesiones</span>
        </a>
      </li>

      <!-- Solo para tutor barra de navegación -->
      <li *ngIf="rolUsuario === 'ROLE_TUTOR'">
        <a routerLink="/tutelados" routerLinkActive="active" class="nav-link">
          <i class="fa-solid fa-clipboard-user me-2"></i>
          <span class="link-text">Niños a mi cargo</span>
        </a>
      </li>

      <li>
        <a (click)="cerrarSesion()" class="nav-link" style="cursor: pointer;">
          <i class="fa-solid fa-right-from-bracket me-2"></i>
          <span class="link-text">Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </div>
    <div class="main-content mt-4">
        <H4 class="text-center titulo"> REGISTRO DE SESIONES</H4>
        <div class="accordion" id="accordionPacientes">
        <div class="accordion-item" *ngFor="let item of sesionesPorPaciente; let i = index">
            <h2 class="accordion-header" [id]="'headingPaciente' + i">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapsePaciente' + i" aria-expanded="false"
                [attr.aria-controls]="'collapsePaciente' + i">
                Paciente: {{ item.paciente.nombre }} {{ item.paciente.apellido }}
            </button>
            </h2>
            <div [id]="'collapsePaciente' + i" class="accordion-collapse collapse"
            [attr.aria-labelledby]="'headingPaciente' + i" data-bs-parent="#accordionPacientes">
            <div class="accordion-body">

                <div *ngIf="item.sesiones.length > 0; else noSesiones">
                <ul class="list-group">
                <li *ngFor="let sesion of item.sesiones" class="list-group-item"
                    [ngClass]="{
                        'bg-programada text-dark': sesion.estado === 'PROGRAMADA',
                        'bg-finalizada text-white': sesion.estado === 'FINALIZADA',
                        'bg-cancelada text-white': sesion.estado === 'CANCELADA'
                    }">
                    <strong>{{ sesion.fechaSesion }} {{ sesion.hora }}</strong> - {{ sesion.tipoSesion.nombre }}
                    <br>
                    <small>Estado: {{ sesion.estado }}</small>
                </li>
                </ul>
                </div>

                <ng-template #noSesiones>
                <p class="text-muted">Este paciente no tiene sesiones registradas.</p>
                </ng-template>

            </div>
            </div>
        </div>
    </div>
    </div>
</div>