<nav class="navbar sticky-top navbar-expand-lg shadow navbar-light bg-white scrolling-navbar top-nav-collapse py-2">
	<div class="container-xl">
        <a class="navbar-brand">
		<img src="/assets/projuegoo.png" class="img-fluid rounded-circle " width="60" alt="Projuego logo">
		</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContenido" aria-controls="navbarContenido" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse barra" id="navbarContenido">
			<ul class="navbar-nav ms-auto">
			  <li class="nav-item">
				<a class="nav-link" (click)="scrollTo('inicio')" style="color: rgb(19 111 254);"><i class="fa-solid fa-house me-2"></i>Inicio</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" (click)="scrollTo('servicios')" style="color: rgb(19 111 254);"><i class="fa-solid fa-mobile me-2"></i>Servicios</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" (click)="scrollTo('materiales')" style="color: rgb(19 111 254);"><i class="fa-solid fa-book me-2"></i>Materiales didácticos</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" (click)="scrollTo('sedes')" style="color: rgb(19 111 254);"><i class="fa-solid fa-location-dot me-2"></i>Sedes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" (click)="scrollTo('testimonios')" style="color: rgb(19 111 254);"><i class="fa-solid fa-comments me-2"></i>Testimonios</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" (click)="scrollTo('galeria')" style="color: rgb(19 111 254);"><i class="fa-solid fa-image me-2"></i>Galería</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" (click)="scrollTo('contacto')" style="color: rgb(19 111 254);"><i class="fa-regular fa-address-card me-2"></i>Contacto</a>
			  </li>
			</ul>
		  </div>
	</div>
</nav>
